# Generic
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

.ruby-version
Gemfile.lock

# Bundler
bin/*
.bundle/*
vendor/

# Test-Kitchen
.kitchen/
.kitchen.local.yml
